.colorweb-content-one {
  margin-top: 6.25em;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 9.375em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.one-svg {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.colorweb-content-one-svg {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: var(--c-turquiose); */
}

.svg1 {
  position: absolute;
  width: 4.5em;
  height: 4.5em;
  top: 8em;
  left: 7em;
  animation: movimiento1 5s alternate infinite;
}

.svg2 {
  position: absolute;
  width: 4.5em;
  height: 4.5em;
  top: 6em;
  left: 5em;
  animation: movimiento2 3s alternate infinite;
}

.svg3 {
  position: absolute;
  width: 8.5em;
  height: 8.5em;
  top: 4em;
  left: 13em;
}

.svg4 {
  position: absolute;
  width: 8.5em;
  height: 8.5em;
  top: 13em;
  left: 14em;
  animation: movimiento1 4s alternate infinite;
}

.svg5 {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  top: 7em;
  left: 17em;
  animation: movimiento-eye 6s alternate infinite;
}

.svg6 {
  position: absolute;
  width: 5.5em;
  height: 5.5em;
  top: 6em;
  left: 24em;
  animation: movimiento2 3s alternate infinite;
}

.svg7 {
  position: absolute;
  width: 8.5em;
  height: 2.5em;
  top: 17em;
  left: 19em;
  animation: movimiento1 3s alternate infinite;
}

.svg8 {
  position: absolute;
  width: 12em;
  height: 5em;
  top: 0em;
  left: 12em;
  animation: movimiento2 3s alternate infinite;
}

.svg9 {
  position: absolute;
  width: 8em;
  height: 7em;
  top: 11em;
  left: 4em;
  animation: movimiento1 3s alternate infinite;
}

.svg10 {
  position: absolute;
  width: 8em;
  height: 8em;
  top: 8em;
  left: 0em;
  animation: movimiento2 5s alternate infinite;
}

@keyframes movimiento1 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0px, 20px);
  }
}

@keyframes movimiento2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0px, -20px);
  }
}

@keyframes movimiento-eye {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(20px, 0px);
  }

  100% {
    transform: translate(-20px, 0px);
  }
}

.colorweb-content-one-text h1 {
  color: var(--c-turquiose);
  font-size: var(--heading-1);
}
.colorweb-content-one-text p {
  color: var(--c-white);
  font-size: 1em;
}

/* Segundo contenido */
.colorweb-content-two {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 3.125em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.colorweb-content-two-text h2 {
  color: var(--c-turquiose);
  font-size: var(--heading-2);
}

.colorweb-content-two-text p {
  color: var(--c-white);
  font-weight: var(--w-regular);
  font-size: 1em;
  max-width: 460px;
  margin-bottom: 50px;
}

.colorweb-content-two-forms {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.colorweb-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorweb-forms h5 {
  color: var(--c-white);
  font-size: var(--heading-5);
  font-weight: var(--w-medium);
}

.colorweb-forms div {
  padding: 8px 8px;
  border-radius: 15px;
  background: var(--c-darkCyan);
}

.colorweb-forms div img {
  width: 100%;
}

/* tercer contenido */
.colorweb-content-three {
  background: var(--c-turquiose);
  padding-top: 5.25em;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 6.25em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.colorweb-content-three-text {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.colorweb-content-three-text h2 {
  color: var(--c-darkCyan);
  font-size: var(--heading-2);
  font-weight: var(--w-bold);
  margin-bottom: 1.125em;
}
.colorweb-content-three-text p {
  color: var(--c-darkCyan);
  font-size: 1em;
  font-weight: var(--w-regular);
  max-width: 460px;
}
.colorweb-content-three-text h3 {
  color: var(--c-darkCyan);
  font-size: var(--heading-3);
  font-weight: var(--w-regular);
  text-align: center;
}
.colorweb-content-three-text h3 span {
  color: var(--c-darkCyan);
  font-weight: var(--w-bold);
}

.content__roja-verde{
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.normal-protanopia {
  display: flex;
  justify-content: space-evenly;
}

.colorweb-content-three-cards {
  max-width: 560px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.cards-column {
  height: auto;
  display: grid;
  gap: 1em;
}

.card-background-turquoise {
  height: 12.5em;
  width: 100%;
  background: var(--c-cyan);
  color: var(--c-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.card__uno:hover {
  background: red;
  color: green;
}

.card__dos:hover {
  background: #00cf15;
  color: #d4681c;
}

.card__tres:hover{
  background: #e9f018;
  color: #a0f000;
}

.card__cuatro:hover{
  background: #0431c7;
  color: #8818de;
}

.card__cinco:hover{
  background: #8f5004;
  color: #00cf15;
}

.card__seis:hover {
  background: #cf0e2e;
  color: #944903;
}

.card-background-dark {
  height: 12.5em;
  width: 100%;
  background: var(--c-dark);
  color: var(--c-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.colorweb-content-three-cards h2 {
  font-size: 1em;
}

/* cuarto contenido */
.colorweb-content-four {
  padding-top: 6.25em;
  margin-bottom: 6.25em;
  margin-left: 200px;
  margin-right: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.colorweb-content-four-one {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.colorweb-content-four-one h2 {
  color: var(--c-turquiose);
  font-size: var(--heading-2);
}

.colorweb-content-four-one p {
  font-size: 1em;
  color: var(--c-white);
}

.colorweb-content-four-one img {
  width: 100%;
}

.colorweb-content-four-two {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.colorweb-content-four-two p {
  color: var(--c-white);
}

.colorweb-content-four-two .enlace-w3 {
  color: var(--c-turquiose);
}

.colorweb-content-four-two img {
  width: 100%;
}

/* Quinto contenido */
.colorweb-content-five {
  padding-top: 6.25em;
  padding-bottom: 6.25em;
  padding-left: 200px;
  padding-right: 200px;
  background: var(--c-turquiose);
}

.colorweb-content-five h3 {
  font-size: var(--heading-3);
  margin-bottom: 3.125rem;
}

.colorweb-content-five p {
  max-width: 550px;
  margin-bottom: 3.125em;
}

.content-poleras {
  width: 100%;
  height: auto;
  background: #00ccdb;
  border-radius: 15px;
  box-shadow: 12px 13px 22px -1px rgba(0, 0, 0, 0.25);
  padding: 1.25em 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

/* Sexto contenido */
.colorweb-content-six {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 6.25em;
  padding-bottom: 6.25em;
  background: var(--c-turquiose);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.content-six-text {
  max-width: 360px;
}

.content-six-text h3 {
  color: var(--c-darkCyan);
  font-size: var(--heading-3);
  margin-bottom: 3.125rem;
}

.content-six-text p {
  font-size: 1em;
  color: var(--c-darkCyan);
}

.content-six-example {
  background: var(--c-dark);
  padding: 20px 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--c-white);
}

.content-six-example .sin-raya {
  color: #0cd3ff;
}

.content-six-example .con-raya {
  color: #0cd3ff;
  text-decoration: underline;
}

/* SEPTIMO CONTENIDO */

/* OCTAVO CONTENIDO */
.colorweb-content-eight {
  margin-left: 200px;
  margin-right: 200px;
}

.colorweb-eight-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

.colorweb-eight-text h2 {
  max-width: 360px;
  color: var(--c-turquiose);
  font-size: var(--heading-2);
}

.colorweb-eight-text p {
  max-width: 360px;
  color: var(--c-white);
  font-size: 1em;
}


.colorweb-eight-colors {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.colorweb-eight-colors .lista-colors {
  padding: 20px 15px;
  width: 100px;
  list-style: none;
  /* align-items: stretch; */
  cursor: pointer;
}


.colorweb-eight-colors-btn{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.colorweb-eight-colors-btn button{
  width: 8.375em;
  background: #00CCDB;
  color: #2D2D2D;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s 0s ease;
}

.colorweb-eight-colors-btn button:hover {
  transform: translateY(-5px)
}

/* RESPONSIVE */
@media screen and (max-width: 1250px) {
  .colorweb-content-one {
    margin-left: 100px;
    margin-right: 100px;
  }

  .colorweb-content-two {
    margin-left: 100px;
    margin-right: 100px;
  }

  .colorweb-content-three {
    padding-left: 100px;
    padding-right: 100px;
  }

  .colorweb-content-four {
    margin-left: 100px;
    margin-right: 100px;
  }
  .colorweb-content-five {
    padding-left: 100px;
    padding-right: 100px;
  }
  .colorweb-content-six {
    padding-left: 100px;
    padding-right: 100px;
  }

  .colorweb-content-eight {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 600px) {
  .colorweb-content-one {
    margin-left: 20px;
    margin-right: 20px;
  }

  .colorweb-content-two {
    margin-left: 20px;
    margin-right: 20px;
  }

  .colorweb-content-three {
    padding-left: 20px;
    padding-right: 20px;
  }

  .colorweb-content-four {
    margin-left: 20px;
    margin-right: 20px;
  }
  .colorweb-content-five {
    padding-left: 20px;
    padding-right: 20px;
  }

  .colorweb-content-six {
    padding-left: 20px;
    padding-right: 20px;
  }

  .colorweb-content-eight {
    margin-left: 20px;
    margin-right: 20px;
  }

  .colorweb-eight-colors {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .colorweb-eight-colors ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .colorweb-eight-colors .lista-colors {
    width: 80px;
    align-items: stretch;
  }
}
